*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth ;
    font-family:Helvetica, Arial, sans-serif;
}
/* Common */

.text-white{
    color: #fff !important;
}
.row{
    margin: 0 -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding: 0 8px;
}
.col-third{
    width: calc(100% / 3);
}
.col-half{
    width: 50%;
}
.text-center{
    text-align: center !important;
}
.col-full{
    width: 100%;
}
.mt-8px{
    margin-top: 8px !important; 
}
.mt-32px{
    margin-top: 32px !important;
}
.btn{
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10.5px 16px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
}
.mt-16px{
    margin-top: 16px !important; 
}
.pull-right{
    float: right !important;
}

/* Main */
#main {

}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    position: fixed;
    z-index: 1;
    background-color: #000;
    
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    display: block;
    padding: 0 24px; 
    line-height: 46px;
    text-decoration: none;
    
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}
#nav, .subnav {
    list-style: none;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38.5px;
}
#nav .subnav{
    left: 0;
    top :46px;
    display: none;
    min-width: 150px;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
}
#nav .nav-arrow-down{
    font-size: 14px;
}

/* Button Search */
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 22px;
    
}

#header .mobile-menu-btn{
position: absolute;
    top: 0;
    right: 0;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}


#header .search-btn:hover{
    color: #fff;
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#slider {
    width: 100%;
    padding-top: 50%;
    margin-top: 46px;
    position: relative;
    background: url('../img/slider-1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    left: 50%;
    bottom: 48px;
    color: #fff;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}

#slider .text-descripition{
    font-size: 15px;
    margin-top: 25px;
    display: block;
    font-weight: bolder;
    text-shadow: 0 0 1px #000;
}

#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

/* Common Content */
#content .content-heading{
    font-size: 30px;
    font-weight: 320;
    text-align: center;
    letter-spacing: 4px;
}

#content .content-sub-heading{
    opacity: 0.6;
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
}
/*----------------------------*/

#content .about-text{
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;

}

#content .members-list{
    margin-top: 32px;
}

#content .member-item{
    float: left;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    margin-bottom: 15px;
    
}

#content .member-img{
    width: 154px;
    transition: transform .2s;
    
}
#content .member-img:hover{
    transform: scale(1.08);
}

.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .sold-out{
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    background-color: #f44336;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    margin-top: -3px;
    line-height: 24px;
    text-align: center;
    margin-right: 14px;
    border-radius: 50%;
    background-color: #000;
}

/* Tickets */
.places-list{
    margin-top: 16px ;

}
#footer .ti-facebook{
    transform: scale(1.7);
}


.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.7;
}
.place-content{
    font-size: 15px;
    color: #000;
    background-color: #fff;
    padding: 16px;
    
}

.place-heading{
    font-weight: 550;
    margin-top: 15px;
}

.place-time{
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc{
    margin-top: 15px;
}



.contact-content{
    margin-top: 46px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #0000ef;
    opacity: 0.86;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-from{
    font-size: 15px;
}
.contact-from .from-control{
    border: 1px solid #ccc;
    padding: 11px 8px;
    width: 100%;
    border-radius: 4px;
    font-size: 14.6px;
}

.contact-from .from-control:hover{
    outline: 1px solid #2196F3;
    border-radius: 4px;
}
.contact-from .from-submit:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    
}

.map-section img{
    width: 100%;
    display: block;
}
#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1;
}
#footer .socials{
    font-size: 24px;
}
#footer .socials a{
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
    letter-spacing: 6px;
    transition: transform .10s;

}

#footer .copyright a:hover,
#footer .socials a:hover{
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    
}
#footer .copyright a{
    display: inline-block;
}

#footer .copyright,
#footer .copyright a{
    color:rgba(0, 0, 0, 0.6);   
    margin-top: 15px;
    font-size: 14px;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal .modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
       
}
.modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #009688;
    color: #fff;
    letter-spacing: 3px;
    height: 130px;
}

.modal .modal-heading-icon{
    margin-right: 14px;
}

.modal .modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
    
}

.modal .modal-close:hover{
    opacity: 1;
    background-color: #ccc;
    color: #000;
}

.modal-body {
    padding: 16px;
}

.modal .modal-label{
    display: block;
    font-size: 15px;
}

.modal .modal-input{
    width: 100%;
    padding: 11px 8px;
    border: 1px solid #ccc;
    margin: 15px 0px;
}
.modal .modal-input:hover{
    outline: 1px solid #2196F3;
    border-radius: 4px;
}
#buy-tickets{
    border: none;
    background-color: #009688;
    color: #fff;
    padding: 16px ;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    
}

#buy-tickets:hover{
    opacity: 0.8;
}

.modal-footer{
    text-align: right;
    padding: 15px 16px 30px 0;
    font-size: 15px;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn{
    from{
        opacity: 0.1;
        transform: translateY(-110px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


